<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Upload S3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row pt-5">
            <h1 class="text text-center">Amazon S3 Upload File</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam vero aliquam recusandae quos praesentium sequi quisquam laborum cum autem eum!</p>
            <form method="post" enctype="multipart/form-data" class="py-5">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Uploaded at</th>
                    <th scope="col">Size</th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                    <td><a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a></td>
                    <td>{{ document.uploaded_at }}</td>
                    <td>{{ document.upload.size|filesizeformat }}</td>
                    </tr>
                {% empty %}
                    <tr>
                    <td colspan="3">No data.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>